@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 9%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 93%;
  }
}
canvas {
  position: fixed !important;
  top: 0;
  left: 0;
}

body {
 color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
}
h1, h2, h3 {
  font-family: var(--font-archivo), sans-serif;
  letter-spacing: 0.5px; /* améliore le rendu */
}
p{
  font-family: var(--font-arimo);
}
.no-scroll::-webkit-scrollbar{
  display: none;
 
}
.no-scroll{
  -ms-overflow-style: none; /* IE et Edge */
  scrollbar-width: none; 
}

